<nav class="pull-right">
    <ul class="nav nav-pills pull-right">
        {% if user %}
            {% if user.isAdmin() %}
                <li><a href="/teams" class="btn btn-primary">League days</a></li>
                <li><a href="/admin/score/list" class="btn btn-primary">Scores</a></li>
                <li><a href="/admin/team/list" class="btn btn-primary">Teams</a></li>
                <li><a href="/admin/user/list" class="btn btn-primary">Users</a></li>
            {% endif %}
            {% if user.isCaptain() %}
                <li><a href="/yourteam" class="btn btn-primary">Your team</a></li>
                <li><a href="/enterscore" class="btn btn-primary">Enter Score</a></li>
            {% endif %}
            <li><a href="/profile" class="btn btn-primary">Account</a></li>
        {% else %}
            <li><a href="/ranking" class="btn btn-primary">Ranking</a></li>
            <li><a href="/leaguedays">Login</a></li>
            <li><a href="/login">Login</a></li>
        {% endif %}
    </ul>
</nav>

<h3 class="pull-left">
    <a href="/"><img src="/assets/img/bkkpool_logo.png"/></a>
</h3>
