<nav class="pull-right">
    <ul class="nav nav-pills pull-right">
        {% if user %}
            <li><a href="/profile">Account</a></li>
            <li><a href="/logout">Logout</a></li>
            {% if user.isAdmin() %}
                <li><a href="/teams">Manage league days</a></li>
            {% endif %}
        {% else %}
            <li><a href="/login">Login</a></li>
        {% endif %}
            <li><a href="/ranking">Ranking</a></li>
            <li><a href="/teams">Teams</a></li>
    </ul>

    {% if user.isCaptain() %}
        <p class="navbar-btn pull-right">
            <a href="/team/manage" class="btn btn-primary">Manage your team</a>
        </p>
    {% endif %}
</nav>

<h3 class="pull-left">
    <a href="/"><img src="/assets/img/bkkpool_logo.png"/></a>
</h3>
