{% extends "index.html" %}
{% set title = 'BKK Pool League: Login' %}

{% block content %}
<a href="/admin/league/list">return to the list</a>
<form id="addform-form" action="{% if mode == "edit" %}/admin/league/{{ league.getId() }}/edit{% else %}/admin/league/add{% endif %} " method="POST" autocomplete="off">
	<div class="row">
		<div class="col-lg-12">
		<h1>Add a leage</h1>
		</div>
	</div>
	<div class="row">
		<div class="row">
			<div class="col-lg-12 search-form">
                <label for="name">Name</label> <input type="text" id="name" name="name" value="{{ league.getName }}" size="80">
			</div>
			<div class="col-lg-12 search-form">
			{% if mode != "edit" %}
				<input type="submit" id="submit" name="add-league" value="Add league">
			{% else %}
				<input type="submit" id="submit" name="edit-league" value="Update league">
			{% endif%}
			</div>
		</div>
	</div>
	<input type="hidden" name="h" value="{{ h }}">
	<input type="hidden" name="id" value="{{ league.getId() }}">
</form>
<a href="/admin/league/list">return to the list</a>
{% endblock %}
