{% extends "index.html" %}
{% set title = 'BKK Pool League: Login' %}

{% block content %}
<a href="/league/list">return to the list</a>

	<div class="row">
		<div class="col-lg-12">
		<h1>{{ league|escape|upper}}</h1>
		</div>
	</div>
	<div class="row">
        <div class="row">
            <a href="/admin/league/{{ league.getId() }}/team/edit" class='btn btn-default btn-lg'>Add Team</a>
            <table summary="{{ league.getName()|escape }} Teams list" class="table table-bordered table-hover">
                <caption class="text-center">{{ league.getName()|escape|upper}} Teams</caption>
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for team in teams %}
                    <tr>
                        <td>{{ team|escape }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/admin/league/{{ league.getId() }}/team/edit" class='btn btn-default btn-lg'>Add Team</a>
        </div>
		<div class="row">
                <a href="/admin/league/{{ league.getId() }}/tournament/edit" class='btn btn-default btn-lg'>Add Tournament</a>
                <table summary="{{ league.getName()|escape }} Players list" class="table table-bordered table-hover">
                    <caption class="text-center">{{ league.getName()|escape|upper}} Tournaments</caption>
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for date,tournament in league.getTournaments %}
                        <tr>
                            <td>{{ date|escape }}</td>
                            <td>{{ tournament|escape }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <a href="/admin/league/{{ league.getId() }}/tournament/edit" class='btn btn-default btn-lg'>Add Tournament</a>
		</div>
	</div>
	<input type="hidden" name="h" value="{{ h }}">
	<input type="hidden" name="id" value="{{ league.getId() }}">

<a href="/league/list">return to the list</a>
{% endblock %}
