{% extends "index.html" %}
{% set useDatePicker = 1 %}
{% set title = 'BKK Pool League' %}

{% block content %}
<a href="/admin/league/{{ league.getId() }}/show">return to the list</a>
<form id="addform-form" action="{% if mode == "edit" %}/admin/tournament/edit/{{ tournament.getId() }}{% else %}/admin/league/{{ league.getId() }}/tournament/add{% endif %} " method="POST" autocomplete="off">
	<div class="row">
		<div class="col-lg-12">
		<h1>Add a tournament for {{ league|escape|upper}}</h1>
		</div>
	</div>
    <div class="col-lg-12 search-form">
    {% if mode != "edit" %}
        <input type="submit" id="submit" name="add-league" value="Add Tournament">
    {% else %}
        <input type="submit" id="submit" name="edit-league" value="Update Tournament">
    {% endif%}
    </div>
	<div class="row">
		<div class="row">
			<div class="col-lg-12 search-form">
                <label for="name">Name</label> <input type="text" id="name" name="name" value="{{ tournament.getName|escape }}" size="80">
			</div>
			<div class="col-lg-12 search-form">
                <label for="weekday">Play on</label>
                <select name="weekday">
                    <option value="1">Monday</option>
                    <option value="2">Tuesday</option>
                    <option value="3">Wendesday</option>
                    <option value="4">Thursday</option>
                    <option value="5">Friday</option>
                    <option value="6">Saturday</option>
                    <option value="7">Sunday</option>
                </select>
			</div>
            <div class="col-lg-12 search-form">
                <label for="date">Start week</label><input type="text" type="text" name="tournamentStartDate" class="form-control" id="tournamentDate" size="80">
                <label for="weeks"># of week</label><input type="text" type="text" name="tournamentWeeks" class="form-control" id="tournamentWeeks" size="80">
			</div>
            <div class="col-lg-12 search-form">
                <div class="table-responsive">
                <table summary="Users list" class="table table-bordered table-hover">
                    <caption class="text-center">List of users</caption>
                    <thead>
                        <tr>
                            <th>Home</th>
                            <th>Visitor</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i,fixture in fixtures %}
                        <tr>
                            <td colspan="2"><h2>Round {{ i+1 }}</h2></td>
                        </tr>
                            {% for fixture in fixtures %}
                                {% set homeActive=fixture['active']['home'].getId() %}
                                {% set visitorActive=fixture['active']['away'].getId() %}
                                <tr>
                                    <td>
                                        Selected: {{homeActive}}
                                        <select name="home">
                                            {% for id, team in teams %}
                                                <option value="team.getId()"
                                                {% if id==homeActive %}selected{% endif %}
                                                >{{ team.getName()|escape}}</option>
                                            {% endfor %}                                
                                        </select>
                                    </td>
                                    <td>
                                        Selected: {{ visitorActive }}
                                        <select name="visitor">
                                            {% for id, team in teams %}
                                                <option value="team.getId()"
                                                {% if id==visitorActive %}selected{% endif %}
                                                >{{ team.getName()|escape}}</option>
                                            {% endfor %}                                
                                        </select>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                <table>                
                </table>
			</div>
			<div class="col-lg-12 search-form">
			{% if mode != "edit" %}
				<input type="submit" id="submit" name="add-league" value="Add Tournament">
			{% else %}
				<input type="submit" id="submit" name="edit-league" value="Update Tournament">
			{% endif%}
			</div>
		</div>
	</div>
	<input type="hidden" name="h" value="{{ h }}">
	<input type="hidden" name="id" value="{{ tournament.getId() }}">
</form>
<a href="/admin/league/{{ league.getId() }}/show">return to the list</a>
<script>
    $('#tournamentDate').datepicker({
    weekStart: 1,
    calendarWeeks: 1,
    format: "dd/mm/yyyy",
    autoclose: true
});
</script>
{% endblock %}
