{% extends "index.html" %}
{% set title = 'BKK Pool League: Login' %}

{% block content %}
	<div class="row">
		<div class="col-lg-12">
		<h1>{{ user.name|escape }}</h1>
		</div>
	</div>
	<div class="row">
		<div class="row">
			<div class="col-lg-12 search-form">
				<label for="name">Name</label> {{ user.getName()|escape }}
			</div>
			<div class="col-lg-12 search-form">
				<label for="email">Email</label> {{ user.getEmail() }}
			</div>
			<div class="col-lg-12 search-form">
				<label for="role">Role</label> {{user.getRole()|escape}}
			</div>
		</div>
	</div>
{% endblock %}
